<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Company</li>
                </ol>
            </div> -->
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation">
                    <!-- jquery validation -->
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <div class="card-title col-sm-6">
                                <h3>{{this.isAddMode?'Create Department':'Update Department'}}</h3>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <label class="control-label">Department Code</label>
                                        <input type="text" class="form-control" formControlName="department_code"
                                            required
                                            [ngClass]="{ 'is-invalid': submitted && f.department_code.errors }">
                                        @if (submitted && f.department_code.errors) {
                                        <div class="error invalid-feedback">
                                            @if (f.department_code.errors.required) {
                                            <div>Department Code cannot be blank.</div>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <label class="control-label">Department Name (English)</label>
                                        <input type="text" class="form-control" formControlName="department_name_eng"
                                            required
                                            [ngClass]="{ 'is-invalid': submitted && f.department_name_eng.errors }">
                                        @if (submitted && f.department_name_eng.errors) {
                                        <div class="invalid-feedback">
                                            @if (f.department_name_eng.errors.required) {
                                            <div>Department Name (English) cannot be blank.</div>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <label class="control-label">Department Name (Language)</label>
                                        <input type="text" class="form-control" formControlName="department_name_lang"
                                            required
                                            [ngClass]="{ 'is-invalid': submitted && f.department_name_lang.errors }">
                                        @if (submitted && f.department_name_lang.errors) {
                                        <div class="invalid-feedback">
                                            @if (f.department_name_lang.errors.required) {
                                            <div>Department Name (Language) cannot be blank.</div>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit"
                                class="btn btn-success float-right">{{this.isAddMode?'Save':'Update'}}</button>
                            <button type="reset" class="btn btn-secondary float-left"
                                (click)="gotoList()">Reset</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </form>
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->